= render 'header'
%strong Patients Directory
%br
%input.search_patients{type: "text", placeholder: "Search Patients"}
%button.btn.btn-default.submit_search search
%br
.patients= render 'patients'

%br
= link_to 'Back', hospitals_path
%br
%br
= will_paginate @patientpag